/* This is a customize css module */
.navigation_full_width {
    display: grid;
    position: sticky;
    top: 0;
    z-index: 100;
}
.navigation_bar {
    max-width: 100vw;
    width: 100%;
    height: 100px;
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: rgba(69, 74, 78, 0.815);
    color: var(--light-primary, darken white);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.nav_menu {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    padding: 20px;
    margin: 20px;
}
.logo {
    color: var(--primary, green);
}

.side_menu {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 40px;

}
.side_menu a:hover,
.side_menu a:focus,
.side_menu a:active {
  transform: scale(1.4, 1.4);
  -webkit-transform: scale(1.4, 1.4);
  -moz-transform: scale(1.4, 1.4);
  -ms-transform: scale(1.4, 1.4);
  -o-transform: scale(1.4, 1.4);
}
.icons {
    padding: 10px;
    border-bottom: 5px solid transparent;
}
.nav_menu a:hover,
.nav_menu a:focus,
.nav_menu a:active {
  color: var(--primary);
  border-bottom: 5px solid var(--primary);

}

.background_wrap {
    position: absolute ;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    /* top: -100px; */
}

.background_text {
    position: absolute;
    /* left: auto; */
    bottom: 0;
    right: auto;
    margin: 0;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    padding-top: 0;
    text-shadow: 1px 1px 1px #3C5C5E;
    z-index: 2;
}

.wrapper {
    position: absolute;
    height: 100vh;
    width: 100vw;
}
/* Insert your design here */